/**
 * This is the template for javascript snippet which should be put into the body for histogram to really show some data.
 * It will initialize two global javascript variables: `app.categories` and `app.series`, which will be used by highcharts code.
 */
window.app = {
    categories: {{ @categories }},
    series: {{ @series }}
};